APP_NAME=PlanCatch API
APP_ENV=development
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
DB_HOST=
DB_PORT=5432
DB_NAME=plancatch
DB_USER=
DB_PASSWORD=
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
